<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.mapper.MemberMapper">

	<!-- 작성자 정보를 조회/반환 -->
	<select id="writerInfo" parameterType="string" resultType="kr.spring.entity.Member">
	    SELECT *
	    FROM CM_MEMBER
	    WHERE MEMNICKNAME = #{writer}
	</select>

	<!-- resultType은 꼭 명시를 해야한다 -->
	<select id="login" parameterType="kr.spring.entity.Member" resultType="kr.spring.entity.Member">
		SELECT * FROM CM_MEMBER WHERE MEMID = #{memID} AND MEMPASSWORD = #{memPassword}
	</select>
	
	<select id="registerCheck" parameterType="String" resultType="kr.spring.entity.Member"> 
		SELECT * FROM CM_MEMBER WHERE MEMID = #{memID}
	</select>	
	
	<!-- insert는 resultType을 못쓰지만, mapper 인터페이스에서 리턴 타입을 int로 주면 MyBatis가 자동으로 성공한 행 수를 돌려준다 -->
	<insert id="join" parameterType="kr.spring.entity.Member"> 
		INSERT INTO CM_MEMBER(MEMID, MEMPASSWORD, MEMNAME, MEMNICKNAME, MEMAGE, MEMGENDER, MEMEMAIL, MEMPROFILE) 
		VALUES (#{memID}, #{memPassword}, #{memName}, #{memNickName}, #{memAge}, #{memGender}, #{memEmail}, #{memProfile})
	</insert>

	<update id="profileUpdate" parameterType="kr.spring.entity.Member">
		UPDATE CM_MEMBER 
		SET MEMPROFILE = #{memProfile}
		WHERE MEMID = #{memID}
	</update>
	
	<update id="update" parameterType="kr.spring.entity.Member">
   		UPDATE CM_MEMBER
  		SET MEMPASSWORD = #{memPassword}, MEMNAME = #{memName}, MEMNICKNAME = #{memNickName}, MEMAGE = #{memAge}, MEMGENDER = #{memGender}, MEMEMAIL = #{memEmail}, MEMPROFILE = #{memProfile}
  		WHERE MEMID = #{memID}
	</update>
	
	<!-- 메시지 작성자 프로필 조회 -->
	<select id="fromIDInfo" parameterType="string" resultType="kr.spring.entity.Member">
	    SELECT *
	    FROM CM_MEMBER
	    WHERE MEMID = #{memID}
	</select>
	
	

</mapper>